// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.comments {
    height: 600px;
    background: url("/images/bg_comments.jpg") center center/cover no-repeat;
    color: white;
    padding: 30px 0;
  }